<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="ARCHIVE_DIR">${LOG_DIR}/archive</Property>
        <Property name="CLR">{FATAL=bright red, ERROR=red, WARN=bright yellow, INFO=Normal, DEBUG=white, TRACE=black}</Property>
            <Property name="LOG_PATTERN">
                %highlight{%5p- %d{yy-MM-dd HH:mm:ss.SSS}}${CLR} %clr{${sys:PID}}{magenta}%clr{-}{faint}%clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan}  %highlight{: %m%n%xwEx}${CLR}
            </Property>
    </Properties>
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" disableAnsi="false"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="File" fileName="${LOG_DIR}/log4j2.log"
                     filePattern="${ARCHIVE_DIR}/log4j2-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout
                pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <!-- Size Based Triggering Policy -->
                <SizeBasedTriggeringPolicy size="20 MB" />
                <!-- Time Based Triggering Policy (every day at midnight) -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy>
               <!-- Delete old log files after 2 months -->
                <Delete basePath="${ARCHIVE_DIR}" maxDepth="1">
                    <IfLastModified age="60d">
                        <IfFileName glob="log4j2-*.log" />
                    </IfLastModified>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <AppenderRef ref="File" />
        </Logger>
         <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
            <AppenderRef ref="File" />
		</Logger> 
        <Root level="INFO">
        	<AppenderRef ref="File" />
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
